/********** Bidirectionally Synced TOC **********/
nav[data-toggle='toc'] {
  margin-top: 30px;
}

/* small screens */
@media (max-width: 768px) {
  /* override the Affix plugin so that the navigation isn't sticky */
  nav.affix[data-toggle='toc'] {
    position: static;
  }
  nav[data-toggle='toc'] .nav .nav {
    display: block;
  }
}

#sidetoc .nav li a {
    padding-bottom: 2px;
    border-bottom: 1px solid #eee;
    padding-left: 10px;
}

#sidetoc .nav ul {
    margin-left: 15px
}

/************ Header Elements ****************/
li.video-series a {
    font-weight: bold;
    background-color: lightgray;
    color: white;
    border-radius: 0;
}


.navbar {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.navbar-brand img {
    height: 35px;
    margin-top: -4px;
    display: inline;
}

.navbar a {
    text-decoration: none;
}

