nav[data-toggle='toc'] {
  margin-top: 30px;
}

/* small screens */
@media (max-width: 768px) {
  /* override the Affix plugin so that the navigation isn't sticky */
  nav.affix[data-toggle='toc'] {
    position: static;
  }
  nav[data-toggle='toc'] .nav .nav {
    display: block;
  }
}

#toc .nav li a {
    padding-bottom: 2px;
    border-bottom: 1px solid #eee;
    padding-left: 10px;
}

#toc .nav ul {
    margin-left: 15px
}

